.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.env
config/dev.json
config/prod.json
config/owner.json
*.db
*.sqlite
*.sqlite3
android/local.properties
android/.kotlin/
android/key.properties
*.jks
*.keystore
